<router-outlet></router-outlet>
<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Gestión de citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Crea una nueva cita
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="citaForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-textarea label="Cita" formControlName="Frase"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input label="Autor" formControlName="Autor"></ion-input>
        </ion-item>
      </form>
      <ion-button type="submit" class="boton-agregar" [disabled]="!citaForm.valid">
        AGREGAR +
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item-sliding *ngFor="let cita of listaCitas">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>{{ cita.Frase }}</h2>
          <p>{{ cita.Autor }}</p>
        </ion-label>
        <ion-button (click)="eliminarCita(cita.id)">
          🗑️
        </ion-button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

